@model R2V2.Web.Models.LoginParam
           
<div id="forgot-password" class="authentication">
    @using (Ajax.BeginForm("ForgotPassword", "Authentication", new { Area = "" }, new AjaxOptions { HttpMethod = "POST", OnComplete = "R2V2.Authentication.ForgotPassword" }))
    {
        <div class="validation-message"></div>
        
        <div class="clearfix">
            <label for="forgotpassword-user">Forgot Password:</label>

            <div class="textfield"><div class="textfieldinner">
                @Html.TextBoxFor(x => x.UserName, new { id = "forgotpassword-user", @class = "text", placeholder = "Enter username", maxlength = 50 })
            </div></div>
            
            <button type="submit" class="btn-medium"><span>Submit</span></button>
            <button type="reset" class="btn-medium"><span>Cancel</span></button>
        </div>
    }
</div>