<div class="content modal help">
    <div class="modal-header">
        <h1>Keyboard Shortcuts</h1>
        <a class="close" data-dismiss="modal" href="#">Close</a>
    </div>
            
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Keystroke</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Next Book Page</td>
                    <td>&rarr;</td>
                </tr>
                <tr>
                    <td>Previous Book Page</td>
                    <td>&larr;</td>
                </tr>
                <tr>
                    <td>Bring up this help dialog</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Focus site search</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>Exit search</td>
                    <td>Esc</td>
                </tr>
                <tr>
                    <td>Close dialog windows and panels</td>
                    <td>Esc</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>