@using R2V2.Extensions
@model R2V2.Web.Models.AuthenticationInfo

@if (string.IsNullOrWhiteSpace(Model.MessageDisplayName))
{
    <div class="intro">
        <h2>Welcome to the R2 Digital Library!</h2>
    </div>
}
else
{
    <div class="intro">
        @if (Model.IsInstitutionNameForDisplay)
        {
            <p>Welcome to @Model.MessageDisplayName!</p>
        }
        else
        {
            <p>Welcome @Model.MessageDisplayName!</p>
        }
        
        <p>@Html.Raw(Model.InstitutionMessage.Linkify())</p>
    </div>
}