<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="R2Utilities.R2UtilitiesSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="R2Utilities.R2Utilities" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, &#xD;&#xA;    log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="R2Utilities.R2UtilitiesSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<appSettings>
		<add key="SettingsConfigurationKey"  value="stage.utilities.app2" />
		<add key="SettingsEnvironment"       value="stage" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- <file type="log4net.Util.PatternString" value="D:\R2library\R2Utilities\Logs\R2Utilities%property{LogName}_app2.log" /> -->
			<file type="log4net.Util.PatternString" value="D:\R2Utilities\Logs\%property{LogName}\R2Utilities_App2.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="25MB" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%message%newline" />
			</layout>
			<param name="Threshold" value="INFO" />
			<!--
			<filter type="log4net.Filter.LoggerMatchFilter">
				<LoggerToMatch value="R2Utilities" />
			</filter>
			-->
			<!--
			<filter type="log4net.Filter.DenyAllFilter" />
			-->
		</appender>
		<logger name="NHibernate" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFileAppender" />
		</logger>
		<logger name="NHibernate.SQL" additivity="false">
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</logger>
		<root>
			<priority value="ALL" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp.mandrillapp.com" port="587" userName="r2smtpgateway" password="yRjAgasLtJKoBxMyUkaX8g"  defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>      
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="4.5.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
</configuration>