@model R2V2.Web.Areas.Admin.Models.PdaPromotion.PdaPromotionModel

@{
    ViewBag.Title = "Edit Promotion";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

<div class="clearfix fullcol contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Edit Promotion</h1>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="group-actions-wrapper">
                <div class="clearfix group-actions" data-implement="fixed">
                    <ul class="actions">
                        <li><button type="submit" class="btn btn-medium"><span>Save</span></button></li>
                        <li><a href="@Url.Action("List")" class="btn btn-medium"><span>Cancel</span></a></li>
                    </ul>
                </div>
            </div>

            @Html.Partial("_PdaPromotionDetails")
        }
    </div>
</div>

@section JsDocumentReady
{
    new R2V2.Admin.DatePicker({$dateTextBox: $("input[id$=Date]"), $endDatePlusYears: 10});
}