@model R2V2.Web.Areas.Admin.Models.PdaRules.PdaProfileModel

@{
    ViewBag.Title = "Resource Management";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    @Html.Partial("_PdaProfile", Model)

    @Html.Partial("_LeftNav", Model)
</div>


@section JsDocumentReady
{
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });

    $(document).ready(function () {
        $(".hide-onclick").each(function(){
            $(this).click(function(){
                $(".hide-onclick").each(function(){
                    $(this).hide();
                });
            });
        });
    });
}