<div class="institution-info">
    <p style="padding-top: 5px;">A Referral URL is the URL a user came from to access your R2 Library collection.</p>
    <p style="margin-top: 10px;">Once a referrer URL is setup on R2library.com, links into R2library.com from that URL will automatically authenticated the user.</p>
    <p style="margin-top: 10px;">Referrer URLs entered into R2library.com must be for pages on the Institution’s web site that require authentication. If the pages are not secured it will compromise security and the offending institution will be in violation of the licensing of agreement with Rittenhouse. Links into R2library.com utilizing the referrer URL that are exposed to the public will affect usage stats and reporting for the Institution.</p>

    <p style="margin-top: 10px;">In order to add, update, or delete a Referrer URL please Email customer service at <a href="mailto:customerservice@r2library.com" style="color:#072F62; text-decoration:none;">customerservice@r2library.com</a>.</p>

    <p style="margin-top: 10px;">If the Institution is unsure of their Referral URL, they can navigate to <a href="@Url.Action("Info", "Home", new { Area = "" })">http://www.r2library.com/home/info</a> and the Authentication Referrer will show what their Referral URL is.</p>
    <p style="margin-top: 10px;">Example Referrer URLs:<br/>
        http://www.xyz.com/<br/>
        http://www.xyz.com/library/<br/>
        http://www.xyz.com/library/test.html<br/>
        https://www.xyz.com/library/<br/>
        https://www.xyz.com/library/test.aspx<br/>
        https://www.xyz.com/library/test?xxxx=yyyyy&aaa=bbb
    </p>
</div>

