@{
    ViewBag.Title = "Add Guest User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="onecol contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Attention!</h1>
        <div>You IP address is now being blocked. To unblock, please contact Rittenhouse Digital, LLC.</div>
    </div>
</div>