<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../../../Logs/Athens.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level [%property{requestId}] %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <threshold value="ERROR"/>
    <to value="rbd-errors@technotects.net"/>
    <subject value="R2library.com Athens ERROR - Local Development"/>
    <from value="rbd@technotects.net"/>
    <smtpHost value="smtp.mandrillapp.com" />
    <Authentication value="Basic"/>
	<port value="587" />
    <Username value="r2smtpgateway"/>
    <Password value="dFfBt0dVxHB6qd-q86OTTw"/>
    <bufferSize value="1"/>
    <lossy value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Date: %date%newlineLevel: %-5level%newlineLogger: %logger%newlineMessage: %message%newline%newline%newline"/>
    </layout>
  </appender>
  <root>
    <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="RollingLogFileAppender"/>
    <appender-ref ref="SmtpAppender"/>
  </root>
</log4net>
