<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Athens Start-->
  <configSections>
    <section name="openAthens" type="Eduserv.OpenAthens.OpenAthensConfigSection"/>
  </configSections>
  <!--<openAthens atacamaConfig="https://sp.openathens.net/configurations?id=cf930284120abb15454d4d6040002654" accessKey="98eb44d4-9cd0-47c8-86c7-dfea8ee7a1e0" logConfig="C:\Program Files (x86)\Eduserv\OpenAthens.Net\conf\defaultLogConfig.xml"/>-->
  <openAthens atacamaConfig="https://sp.openathens.net/configurations?id=5d2006d625e9e0c97748a2d92c007666" accessKey="a9399d76-c1f3-4242-a3a0-61e28470d923" logConfig="C:\Program Files (x86)\Eduserv\OpenAthens.Net\conf\defaultLogConfig.xml"/>
  <location path="Protected.aspx">
    <openAthens>
      <authentication enabled="true"/>
    </openAthens>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--Athens End-->
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <!-- OpenAthens SP 2.0 START -->
      <!--assemblies>
        <add assembly="OpenAthens.Net, Version=1.0.0.0, Culture=neutral, PublicKeyToken=17390934318f9b06"/>
      </assemblies-->
      <!--Athens End-->
      <assemblies>
        <remove assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="OpenAthens.Net,Version=1.0.0.0, Culture=neutral, PublicKeyToken=17390934318f9b06"/>
        <add assembly="atacama.net, Version=2.1.3.0, Culture=neutral, PublicKeyToken=6E679382149F5665"/>
        <!--<add assembly="atacama.net, Version=1.5.2.0, Culture=neutral, PublicKeyToken=6E679382149F5665"/>-->
        <!--
		<remove assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<remove assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
	  -->
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <!-- OpenAthens SP 2.0 END -->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <remove namespace="System.Web.Helpers" />
        <remove namespace="System.Web.Mvc" />
        <remove namespace="System.Web.Mvc.Ajax" />
        <remove namespace="System.Web.Mvc.Html" />
        <remove namespace="System.Web.Routing" />
        <remove namespace="System.Web.WebPages" />
        <remove namespace="N2.Linq" />
        <remove namespace="N2.Web.Mvc.Html" />
      </namespaces>
      <tagMapping>
        <remove tagType="System.Web.UI.HtmlControls.HtmlForm" />
      </tagMapping>
    </pages>
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ErrorLog"/>
      <remove name="ErrorMail" />
      <remove name="ErrorFilter"/>
      <remove name="RequestLogger"/>
      <remove name="IpSecurityModule"/>
      <remove name="n2.initializer" />
      <add name="OpenAthensServerModule" type="Eduserv.OpenAthens.ServerModule"/>
    </modules>
  </system.webServer>
</configuration>