<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\Temp\R2Library\Logs\r2v2.log" />
        <appendToFile value="false" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="25MB" />
        <staticLogFileName value="true" />
        <immediateFlush value="false" />
        <layout type="R2V2.Web.Infrastructure.WebCustomPatternLayout">
            <conversionPattern value="%date [%thread] %-level [%r2SessionIdRequestId] %logger - %exceptionHash %message%newline" />
        </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
        <threshold value="ERROR" />
        <to value="kenhaberle@technotects.com" />
        <subject value="R2Library ERROR - LOCAL DEVELOPMENT" />
        <from value="errors@r2library.com" />
        <smtpHost value="smtp.mandrillapp.com" />
        <Authentication value="Basic"/>
        <port value="587" />
        <Username value="r2smtpgateway"/>
        <Password value="dFfBt0dVxHB6qd-q86OTTw"/>
        <bufferSize value="1" />
        <lossy value="false" />
        <layout type="R2V2.Web.Infrastructure.WebCustomPatternLayout">
            <conversionPattern value="Date: %date%newlineLevel: %-5level%newlineURL: %property{url}%newlineMessage: %message%newlineException Message: %exception{message}%newline%exception{StackTrace}%newline%newlineServer: %property{log4net:HostName}%newlineLogger: %logger%newlineClient IP: %property{clientAddress}%newlineReferrer: %property{httpReferrer}%newline%r2EmailExtraUser Agent: %property{userAgent}%newline%newlineException Hash: %exceptionHash%newlineVersion: %property{version}%newline" />
        </layout>
    </appender>

    <!-- Disabled for local development - re-enable in production -->
    <!--
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <threshold value="WARN" />
        <bufferSize value="1" />
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <connectionStringName value="LogEvents.DbConnection" />
        <commandText value="INSERT INTO R2library ([timestamp],[thread],[hostname],[level],[levelInt],[logger],[version],[message],[exception],[requestId],[sessionId],[url], [referrer],[ipAddress],[userAgent],[stackTrace], [exceptionHash],[serverNumber]) VALUES (@timestamp, @thread, @hostname, @level, @levelInt, @logger, @version, @message, @exception, @requestid, @sessionId, @url, @referrer, @ipaddress, @useragent, @stackTrace, @exceptionHash, 11)" />
        // ...parameters...
    </appender>
    -->

    <root>
        <!-- Changed from ALL to WARN for better local development performance -->
        <level value="WARN" />
        <appender-ref ref="TraceAppender" />
        <appender-ref ref="RollingLogFileAppender"/>
        <!-- Disabled AdoNetAppender for local development -->
        <!--<appender-ref ref="AdoNetAppender" />-->
        <!--<appender-ref ref="SmtpAppender" />-->
    </root>

    <logger name="NHibernate" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="TraceAppender"/>
    </logger>
    <logger name="NHibernate.SQL">
        <!-- Changed from ALL to ERROR for local development -->
        <level value="ERROR" />
        <appender-ref ref="TraceAppender"/>
        <appender-ref ref="RollingLogFileAppender"/>
    </logger>
</log4net>