<appSettings>
	<!--<add key="SettingsConfigurationKey"     value="dev.web.ken" />-->
	
	<!-- Local Development Performance Optimizations -->
	<add key="Environment.IsLocalDevelopment" value="true" />
	<add key="MessageQueue.Enabled" value="false" />
	<add key="SendErrorDirectoryPath" value="C:\Temp\R2Library\MessageQueueErrors" />
	<add key="ContentLocation" value="C:\Temp\R2Library\Content\xml" />
	<add key="NewContentLocation" value="C:\Temp\R2Library\Content\cache" />
	<add key="DtSearchIndexLocation" value="C:\Temp\R2Library\Content\R2HtmlIndex" />
	<add key="XslLocation" value="C:\Temp\R2Library\_Static\Xsl\" />
	<add key="TemplatesDirectory" value="C:\RittenhouseRepos\R2Library\src\R2V2.Web\_Static\Templates\" />
	<add key="OutputPath" value="C:\Temp\R2Library\EmailLogs" />
</appSettings>
