<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<!--
            BotDetect configuration:

            If your project is not going to be using the Simple API,
            the "Simple API: ..." configuration lines bellow can be safely removed.

            If your project is not going to be using the Traditional API,
            the "Traditional API: ..." configuration lines bellow can be safely removed.
        -->
		<!-- Traditional API: Register the BotDetect's Configuration section -->
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
    <add name="LogEvents.DbConnection" connectionString="server=technoserv05;database=LogEvents;  Integrated Security=FALSE;user=LogEventsUser;pwd=T3chn0tect$2017;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="E:\Temp\log4net_debug.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
	<appSettings file="User.config">
		<!--<add key="log4net.Internal.Debug" value="true"/>-->
		<!--<add key="webpages:Version" value="1.0.0.0" />-->
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="SettingsConfigurationKey" value="dev.web.ken" />-->
		<!-- PLEASE USE THE User.config if you want to change this. -->
		<add key="SettingsConfigurationKey" value="stage.web" />
		<!-- set to "false" to disable dtSearch and avoid loading the native engine while debugging -->
		<add key="DtSearchEnabled" value="false" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
		<httpHandlers>
			<!-- Simple API: Register the HttpHandler used for BotDetect requests -->
			<!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
			<add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.6.2">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<!--<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
				<!--<add assembly="Alachisoft.NCache.SessionStoreProvider, Version=4.9.0.0, Culture=neutral, PublicKeyToken=CFF5926ED6A53769" />-->
				<!--EnterPrise-->
				<!--<add assembly="Alachisoft.NCache.SessionStoreProvider, Version=4.9.0.0, Culture=neutral, PublicKeyToken=1448e8d1123e9096" />-->
				<!--Open Source-->
			</assemblies>
		</compilation>
		<customErrors mode="Off" defaultRedirect="Error/NotFound">
			<error statusCode="403" redirect="/Authentication/NoAccess" />
			<error statusCode="404" redirect="/Error/NotFound" />
			<error statusCode="500" redirect="/Error/InternalServer" />
		</customErrors>
		<!-- Traditional API: Ensuring Session State is enabled -->
		<pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages>
		<!-- Traditional API: Register a custom SessionIDManager for BotDetect requests -->
		<!--<sessionState mode="InProc" timeout="10" />-->
		<!--<sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="NCacheSessionProvider" timeout="10">
      <providers>
        <add name="NCacheSessionProvider" 
             type="Alachisoft.NCache.Web.SessionState.NSessionStoreProvider" 
             exceptionsEnabled="true" 
             enableSessionLocking="true" 
             emptySessionWhenLocked="false" 
             sessionLockingRetry="-1" 
             sessionAppId="development"
             cacheName="R2Library_Sessions" 
             useInProc="false" 
             enableLogs="false" 
             writeExceptionsToEventLog="false"
             AsyncSession="false" />
      </providers>
    </sessionState>-->
		<httpModules>
			<add name="RequestLogger" type="R2V2.Web.Infrastructure.HttpModules.RequestLoggerModule" />
		</httpModules>
		<profile defaultProvider="ContentProfileProvider" />
		<!--Comment out in development environment-->
		<!--<identity impersonate="true" password="W3bUs3r!" userName="R2LibraryWebUser" />-->
		<caching>
			<cache privateBytesLimit="524288000" privateBytesPollTime="00:01:00" />
		</caching>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
	</system.web>
	<system.webServer>
		<httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Found">
			<add wildcard="/Dashboard*" destination="/Admin/$V$Q" />
			<add wildcard="/IPC$" destination="/" />
		</httpRedirect>
		<validation validateIntegratedModeConfiguration="false" />
		<!--<modules>-->
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ErrorLog" />
			<remove name="ErrorMail" />
			<!--<add name="IpSecurityModule" type="R2V2.Web.Infrastructure.HttpModules.IpSecurityModule" preCondition="" />-->
			<add name="RequestLogger" type="R2V2.Web.Infrastructure.HttpModules.RequestLoggerModule" />
		</modules>
		<staticContent>
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
		</staticContent>
		<handlers>
			<!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
			<!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="SimpleCaptchaEndpoint" />
			<add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
			<error statusCode="500" path="/Error/InternalServer" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac.Integration.Mvc" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.862" newVersion="2.6.3.862" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.17.1.0" newVersion="0.17.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.115.5" newVersion="1.0.115.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<botDetect codeLength="4" soundEnabled="false" />
</configuration>