@model R2V2.Web.Models.Eula.Eula
@{
    ViewBag.Title = "EULA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="onecol contentcontainer">
    <div id="content" class="content" role="main">
        @Html.Partial("_Eula")
    </div>
</div>