/* ==========================================================================
	Error Pages
   ========================================================================== */

ul.list-errors {
    position: absolute; bottom: 15px;
    font-size: .65em; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    ul.list-errors li {
        display: inline;
        margin: 0 5px 0 0; padding: 0;
        list-style: none;
        background: transparent;
        }

.app-error-action {
	display: none;
}