@{
    ViewBag.Title = "Ask Your Librarian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="onecol contentcontainer">    

    <div id="content" class="content" role="main">
        <h1>Thank you</h1>                  
        <p>Thank you for contacting your Librarian.</p>
    </div>
</div>


        