@model R2V2.Web.Models.Error.NoAccess
@{
    ViewBag.Title = "No Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="onecol contentcontainer">
    <div class="hero" role="main">
        <h1>@Model.Message</h1>
    </div>
</div>