@model R2V2.Web.Areas.Admin.Models.SystemInformation.Documentation
@{
    ViewBag.Title = "Documentation";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

<div class="clearfix twocol-with-subnav contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Technical Documentation</h1>
        
        <ul class="list-links">
            <li><a href="/_Static/Downloads/r2-library-federated-search.pdf" class="icon pdf-file" target="_blank" data-toggle="window">Federated Search Integration</a> <span class="stamp-fileinfo">(PDF, 57K)</span></li>
            <li><a href="/_Static/Downloads/r2-library-ez-proxy-config.pdf" class="icon pdf-file" target="_blank" data-toggle="window">EZ Proxy Configuration</a> <span class="stamp-fileinfo">(PDF, 37K)</span></li>
            <li><a href="/_Static/Downloads/r2-library-trusted-url-config.pdf" class="icon pdf-file" target="_blank" data-toggle="window">Trusted URL Configuration</a> <span class="stamp-fileinfo">(PDF, 122K)</span></li>
        </ul>
    </div>
    
    @Html.Partial("_LeftNav")
</div>

@section JsDocumentReady
{
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });
}