@model TrustedAuthWebExample.Controllers.SamplePageModel

@{
    ViewBag.Title = "R2 Library";
}

<h2>R2 Library - Trusted Authentication Test</h2>

<div>
    <a href="@Model.Url">Go To R2Library.com</a>
</div>
