/* ==========================================================================
	Twitter Bootstrap Glyphicons
   ========================================================================== */

/* Font paths have been changed to match our structure -DRJ */
/* Add styles for additional glyphicons as needed -DRJ */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.eot');
  src: url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Css/packages/twitter/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-link:before {
  content: "\e144";
}