USE [master]
GO
/****** Object:  Database [TabersDictionary]    Script Date: 7/24/2013 10:36:24 AM ******/
CREATE DATABASE [TabersDictionary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TabersData', FILENAME = N'D:\MSSQLDATA\MSSQL11.MSSQLSERVER\MSSQL\Data\TabersData.mdf' , SIZE = 44032KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TabersData_log', FILENAME = N'C:\MSSQLDATA\MSSQL11.MSSQLSERVER\MSSQL\Data\TabersData_log.ldf' , SIZE = 84416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TabersDictionary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TabersDictionary]
GO
/****** Object:  User [R2UtilitiesUser]    Script Date: 7/24/2013 10:36:24 AM ******/
CREATE USER [R2UtilitiesUser] FOR LOGIN [R2UtilitiesUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [R2UtilitiesUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [R2UtilitiesUser]
GO
/****** Object:  Table [dbo].[AbbrevXentry]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AbbrevXentry](
	[AbbrevXentryKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NULL,
	[SubentryKey] [int] NULL,
	[XlinkHref] [varchar](255) NOT NULL,
	[AbbrevXentryText] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AbbrevXentry] PRIMARY KEY CLUSTERED 
(
	[AbbrevXentryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DefExp]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DefExp](
	[DefExpKey] [int] IDENTITY(1,1) NOT NULL,
	[SenseKey] [int] NOT NULL,
	[Output] [varchar](255) NOT NULL,
	[DefExpText] [varchar](max) NULL,
 CONSTRAINT [PK_DefExp] PRIMARY KEY CLUSTERED 
(
	[DefExpKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Etymology]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Etymology](
	[EtymologyKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[EtymologyText] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Etymology] PRIMARY KEY CLUSTERED 
(
	[EtymologyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MainEntry]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MainEntry](
	[MainEntryKey] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [varchar](255) NOT NULL,
	[DateRevised] [datetime] NULL,
	[Name] [varchar](255) NOT NULL,
	[EditionAdded] [int] NULL,
	[Letter] [char](1) NOT NULL,
	[Output] [varchar](255) NOT NULL,
	[SortOrder] [int] NULL,
	[SpaceSaver] [varchar](255) NOT NULL,
	[XlinkType] [varchar](255) NOT NULL,
	[OrthoDispKey] [int] NOT NULL,
	[Biography] [varchar](255) NULL,
	[Abbrev] [varchar](255) NULL,
	[Symb] [varchar](255) NULL,
 CONSTRAINT [PK_MainEntry] PRIMARY KEY CLUSTERED 
(
	[MainEntryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MainEntry_Name] UNIQUE NONCLUSTERED 
(
	[MainEntryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrthoDisp]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrthoDisp](
	[OrthoDispKey] [int] IDENTITY(1,1) NOT NULL,
	[OrthoDispId] [varchar](255) NOT NULL,
	[OrthoDispText] [varchar](255) NOT NULL,
	[PluralKey] [int] NULL,
 CONSTRAINT [PK_OrthoDisp] PRIMARY KEY CLUSTERED 
(
	[OrthoDispKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Plural]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plural](
	[PluralKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
 CONSTRAINT [PK_Plural] PRIMARY KEY CLUSTERED 
(
	[PluralKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pronounce]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pronounce](
	[PronounceKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[PronounceText] [varchar](500) NOT NULL,
	[AudioFile] [varchar](255) NULL,
 CONSTRAINT [PK_Pronounce] PRIMARY KEY CLUSTERED 
(
	[PronounceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Pronounce] UNIQUE NONCLUSTERED 
(
	[MainEntryKey] ASC,
	[PronounceText] ASC,
	[AudioFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sense]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sense](
	[SenseKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[Definition] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Sense] PRIMARY KEY CLUSTERED 
(
	[SenseKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specialty](
	[SpecialtyKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[Primary1Code] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Specialty] PRIMARY KEY CLUSTERED 
(
	[SpecialtyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subentry]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subentry](
	[SubentryKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[Currency] [varchar](255) NOT NULL,
	[DateRevised] [datetime] NULL,
	[Name] [varchar](255) NOT NULL,
	[EditionAdded] [int] NULL,
	[Output] [varchar](255) NOT NULL,
	[SpaceSaver] [varchar](255) NOT NULL,
	[XlinkType] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Subentry] PRIMARY KEY CLUSTERED 
(
	[SubentryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Variant]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variant](
	[VariantKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NOT NULL,
	[OrthoDispKey] [int] NOT NULL,
 CONSTRAINT [PK_Variant] PRIMARY KEY CLUSTERED 
(
	[VariantKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Xentry]    Script Date: 7/24/2013 10:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Xentry](
	[XentryKey] [int] IDENTITY(1,1) NOT NULL,
	[MainEntryKey] [int] NULL,
	[SubentryKey] [int] NULL,
	[XlinkHref] [varchar](255) NOT NULL,
	[XentryText] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Xentry] PRIMARY KEY CLUSTERED 
(
	[XentryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AbbrevXentry]  WITH CHECK ADD  CONSTRAINT [FK_AbbrevXentry_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[AbbrevXentry] CHECK CONSTRAINT [FK_AbbrevXentry_MainEntry]
GO
ALTER TABLE [dbo].[AbbrevXentry]  WITH CHECK ADD  CONSTRAINT [FK_AbbrevXentry_Subentry] FOREIGN KEY([SubentryKey])
REFERENCES [dbo].[Subentry] ([SubentryKey])
GO
ALTER TABLE [dbo].[AbbrevXentry] CHECK CONSTRAINT [FK_AbbrevXentry_Subentry]
GO
ALTER TABLE [dbo].[DefExp]  WITH CHECK ADD  CONSTRAINT [FK_DefExp_Sense] FOREIGN KEY([SenseKey])
REFERENCES [dbo].[Sense] ([SenseKey])
GO
ALTER TABLE [dbo].[DefExp] CHECK CONSTRAINT [FK_DefExp_Sense]
GO
ALTER TABLE [dbo].[Etymology]  WITH CHECK ADD  CONSTRAINT [FK_Etymology_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Etymology] CHECK CONSTRAINT [FK_Etymology_MainEntry]
GO
ALTER TABLE [dbo].[MainEntry]  WITH CHECK ADD  CONSTRAINT [FK_MainEntry_OrthoDisp] FOREIGN KEY([OrthoDispKey])
REFERENCES [dbo].[OrthoDisp] ([OrthoDispKey])
GO
ALTER TABLE [dbo].[MainEntry] CHECK CONSTRAINT [FK_MainEntry_OrthoDisp]
GO
ALTER TABLE [dbo].[OrthoDisp]  WITH CHECK ADD  CONSTRAINT [FK_OrthoDisp_Plural] FOREIGN KEY([PluralKey])
REFERENCES [dbo].[Plural] ([PluralKey])
GO
ALTER TABLE [dbo].[OrthoDisp] CHECK CONSTRAINT [FK_OrthoDisp_Plural]
GO
ALTER TABLE [dbo].[Plural]  WITH CHECK ADD  CONSTRAINT [FK_Plural_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Plural] CHECK CONSTRAINT [FK_Plural_MainEntry]
GO
ALTER TABLE [dbo].[Pronounce]  WITH CHECK ADD  CONSTRAINT [FK_Pronounce_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Pronounce] CHECK CONSTRAINT [FK_Pronounce_MainEntry]
GO
ALTER TABLE [dbo].[Sense]  WITH CHECK ADD  CONSTRAINT [FK_Sense_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Sense] CHECK CONSTRAINT [FK_Sense_MainEntry]
GO
ALTER TABLE [dbo].[Specialty]  WITH CHECK ADD  CONSTRAINT [FK_Specialty_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Specialty] CHECK CONSTRAINT [FK_Specialty_MainEntry]
GO
ALTER TABLE [dbo].[Subentry]  WITH CHECK ADD  CONSTRAINT [FK_Subentry_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Subentry] CHECK CONSTRAINT [FK_Subentry_MainEntry]
GO
ALTER TABLE [dbo].[Variant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Variant] CHECK CONSTRAINT [FK_Variant_MainEntry]
GO
ALTER TABLE [dbo].[Variant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_OrthoDisp] FOREIGN KEY([OrthoDispKey])
REFERENCES [dbo].[OrthoDisp] ([OrthoDispKey])
GO
ALTER TABLE [dbo].[Variant] CHECK CONSTRAINT [FK_Variant_OrthoDisp]
GO
ALTER TABLE [dbo].[Xentry]  WITH CHECK ADD  CONSTRAINT [FK_Xentry_MainEntry] FOREIGN KEY([MainEntryKey])
REFERENCES [dbo].[MainEntry] ([MainEntryKey])
GO
ALTER TABLE [dbo].[Xentry] CHECK CONSTRAINT [FK_Xentry_MainEntry]
GO
ALTER TABLE [dbo].[Xentry]  WITH CHECK ADD  CONSTRAINT [FK_Xentry_Subentry] FOREIGN KEY([SubentryKey])
REFERENCES [dbo].[Subentry] ([SubentryKey])
GO
ALTER TABLE [dbo].[Xentry] CHECK CONSTRAINT [FK_Xentry_Subentry]
GO
USE [master]
GO
