


/****** Object:  Table [dbo].[tSearchTypeaheadType]    Script Date: 11/12/2015 9:37:10 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tSearchTypeaheadType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tSearchTypeaheadType](
	[tSearchTypeaheadTypeId] [int] IDENTITY(1,1) NOT NULL,
	[vchTermType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tSearchTypeaheadType] PRIMARY KEY CLUSTERED 
(
	[tSearchTypeaheadTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

SET ANSI_PADDING OFF
GO






/****** Object:  Table [dbo].[tSearchTypeahead]    Script Date: 11/12/2015 9:43:49 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tSearchTypeahead]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tSearchTypeahead](
	[iSearchTypeaheadId] [int] IDENTITY(1,1) NOT NULL,
	[vchSearchTerm] [varchar](250) NOT NULL,
	[iRank] [float] NOT NULL,
	[vchCreatorId] [varchar](50) NOT NULL,
	[dtCreationDate] [smalldatetime] NOT NULL,
	[vchUpdaterId] [varchar](50) NULL,
	[dtUpdateDate] [smalldatetime] NULL,
	[tiRecordStatus] [tinyint] NOT NULL,
	[iSearchTypeaheadTypeId] [int] NOT NULL,
 CONSTRAINT [PK_tSearchTypeahead] PRIMARY KEY CLUSTERED 
(
	[iSearchTypeaheadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

SET ANSI_PADDING OFF
GO

IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_tSearchTypeahead_iRank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tSearchTypeahead] ADD  CONSTRAINT [DF_tSearchTypeahead_iRank]  DEFAULT ((0)) FOR [iRank]
END

GO

IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_tSearchTypeahead_tiRecordStatus]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[tSearchTypeahead] ADD  CONSTRAINT [DF_tSearchTypeahead_tiRecordStatus]  DEFAULT ((1)) FOR [tiRecordStatus]
END

GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tSearchTypeahead_tSearchTypeaheadType]') AND parent_object_id = OBJECT_ID(N'[dbo].[tSearchTypeahead]'))
ALTER TABLE [dbo].[tSearchTypeahead]  WITH CHECK ADD  CONSTRAINT [FK_tSearchTypeahead_tSearchTypeaheadType] FOREIGN KEY([iSearchTypeaheadTypeId])
REFERENCES [dbo].[tSearchTypeaheadType] ([tSearchTypeaheadTypeId])
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tSearchTypeahead_tSearchTypeaheadType]') AND parent_object_id = OBJECT_ID(N'[dbo].[tSearchTypeahead]'))
ALTER TABLE [dbo].[tSearchTypeahead] CHECK CONSTRAINT [FK_tSearchTypeahead_tSearchTypeaheadType]
GO







	WHILE @@ROWCOUNT <> 0
		BEGIN
		DELETE TOP (50000) tSearchTypeahead
		END


  INSERT INTO tSearchTypeaheadType
  SELECT 'keyword'

  INSERT INTO tSearchTypeaheadType
  SELECT 'isbn10'

  INSERT INTO tSearchTypeaheadType
  SELECT 'isbn13'


  INSERT INTO tSearchTypeahead
  SELECT DISTINCT LTRIM(RTRIM(LOWER(REPLACE(vchKeywordDesc, '•', '')))), 5, 'djones', GETDATE(), NULL, NULL, 1, stt.tSearchTypeaheadTypeId
  FROM tKeyword k
  LEFT JOIN tSearchTypeaheadType stt
	ON stt.vchTermType = 'keyword'
  WHERE tiRecordStatus = 1




  INSERT INTO tSearchTypeahead
  SELECT DISTINCT vchIsbn10, 10, 'djones', GETDATE(), NULL, NULL, 1, stt.tSearchTypeaheadTypeId
  FROM tResource r
  LEFT JOIN tSearchTypeaheadType stt
      ON stt.vchTermType = 'isbn10'
  WHERE tiRecordStatus = 1 AND vchIsbn10 IS NOT NULL


  INSERT INTO tSearchTypeahead
  SELECT DISTINCT vchIsbn13, 10, 'djones', GETDATE(), NULL, NULL, 1, stt.tSearchTypeaheadTypeId
  FROM tResource
  LEFT JOIN tSearchTypeaheadType stt
      ON stt.vchTermType = 'isbn13'
  WHERE tiRecordStatus = 1 AND vchIsbn13 IS NOT NULL



  
