


  INSERT INTO tConfigurationSetting
  SELECT 'dev', 'Web', 'MinifyJavascript', 'true', 'bool value - sets javascript minification in BundleInitializer'


  INSERT INTO tConfigurationSetting
  SELECT 'dev', 'Client', 'OoyalaPCode', 'k0eTkxOsz2z9_1lnXiVkkHrXlheg', 'string value - PCode for Ooyala player - required for v4'

  INSERT INTO tConfigurationSetting
  SELECT 'dev', 'Client', 'OoyalaPlayerBrandingId', '8fddd191b6b64fb6a43512dd90a2296f', 'string value - PlayerBrandingId for Ooyala player - required for v4'





  UPDATE tResource
  SET  tiContainsVideo = 2
  WHERE vchIsbn10 IN ('0044637209', '1610020642')