@model R2V2.Web.Models.Resource.ResourceSummaries

@if (Model != null && Model.Resources != null)
{
    if (Model.BrowseQuery.Page > 1)
    {
        foreach (var resource in Model.Resources)
        {
            @Html.Partial("_ResourceSummary", resource)
        }
    }
    else
    {
        <h1>Browse by Publication Title</h1>

        @Html.Partial("_AlphaPager")

        <div id="resource-summaries" class="titlelist">
            @foreach (var resource in Model.Resources)
            {
                @Html.Partial("_ResourceSummary", resource)
            }
        </div>
    }
}