@model R2V2.Web.Models.Trial.WelcomeEmail        

<p>CONGRATULATIONS!</p>

<p>You have initiated a free 30 day trial of the <b><i>R2 Library </i></b>from Rittenhouse<b><i>.</i></b> Get ready to expand your library beyond the bookshelves with this new service designed to access health science resources from multiple publishers. During the term of the trial, you will have access to 3 concurrent users of all of the resources from medicine, nursing, and allied health currently available in the <b><i>R2 Library</i></b>. You will be notified prior to the expiration of your trial period.</p>

<p>If you would like to make the application available to users within your community, please bookmark <a href="http://www.r2library.com/">www.r2library.com</a>. The application will authenticate users who access this url using the IP range entered in the <b>System Preferences</b> area of the <b>Administrative Tool Suite</b>.</p>

<p>You may build a shopping cart of resources you wish to purchase during the term of your trial, but please note that your trial will end if you complete a purchase during your trial period. Please refer to the FAQ area of the site for additional information during your trial, or contact your sales representative or email <a href="mailto:customerservice@R2library.com">customerservice@R2library.com</a></p>

<p>Your account's administrative ID is <b>@Model.AccountNumber</b>. If at any time you forget your password, enter your ID on login page and follow the instructions for password retrieval.</p>

<p>Thank you for your interest in the <b><i>R2 Library</i></b> and we look forward to working with you.</p>

<p>The <b><i>R2 Library</i></b> team.</p>

<p><b><i>R2 Library Tip<br />For the term of your trial, use the Profile and Customization tool in the Administrative Tool Suite to create a message to let users know that this information resource is available for a trial.</i></b></p>

<p><b><i>For example:</i></b></p>

<p><b><i>Trial Access to the R2 Library Provided by Your Health Sciences Library</i></b></p>