@model R2V2.Web.Models.Trial.RequestAccountModel
@{
    ViewBag.Title = "Account Request Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="onecol contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Account Request Form</h1>

        <div class="clearfix navbar" style="margin-bottom: 3px;">
            <div>
                Your request form has been submitted and customer service will be in contact regarding your account. 
            </div>
        </div>
    </div>
</div>