@model R2V2.Web.Models.LogTesterViewModel
@{
    ViewBag.Title = "Log Tester";
    Layout = "";
}
<!doctype html>
<html>
<head>
    <title>Log Tester | R2 Digital Library</title>
</head>
<body>
<h2>Log Tester</h2>
@using (Html.BeginForm("LogTester", "TestError", FormMethod.Get))
{
}
</body>
</html>