@model R2V2.Web.Areas.Admin.Models.Report.AnnualFeeReportDetail
@{
    ViewBag.Title = "Annual Fee Report";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    @Html.Partial("_AnnualFeeReport", Model)

    @Html.Partial("_LeftNav", Model)
</div>

@section JsDocumentReady
{
    new R2V2.Admin.ActionsMenu({ $container: $('.actions-menu') });
    new R2V2.Admin.ToggleOptionalFields({ $container: $('#filter-date-range'), $trigger: $('#ReportQuery_Period'), action: 'change', triggerValue: 'UserSpecified' });

    new R2V2.Admin.DatePicker({$dateTextBox: $("#filter-date-range .input-daterange"), $endDatePlusYears: 10, $startDate: "10/19/2004"});
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });
}
