@model R2V2.Web.Areas.Admin.Models.Report.ApplicationUsageDetail
@{
    ViewBag.Title = "Application Usage Report";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    @Html.Partial("_ApplicationUsage", Model)

    @Html.Partial("_LeftNav", Model)
</div>

@section JsDocumentReady
{
    new R2V2.Admin.ActionsMenu({ $container: $('.actions-menu') });
    new R2V2.Admin.ToggleOptionalFields({ $container: $('#filter-date-range'), $trigger: $('#ReportQuery_Period'), action: 'change', triggerValue: 'UserSpecified' });
    new R2V2.Admin.ToggleOptionalFields({ $container: $('#filter-ip-ranges'), $trigger: $('#ReportQuery_FilterByIpRanges'), action: 'click' });
	$('#save-report-submit').click(function() {
		$(this).closest("form").attr("action", "/Admin/Report/SavedReport");
    });
    new R2V2.Admin.DatePicker({$dateTextBox: $("#filter-date-range .input-daterange")});
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });
}
